name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  build-and-release:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@13.5
        with:
          cli: '1.12.4.1582'
      - name: Cache Clojure Deps
        uses: actions/cache@v5
        with:
          path: |
            ~/.clojure
            ~/.cpcache
            ~/.gitlibs
            ~/.m2/repository
          key: ${{ runner.os }}-${{ hashFiles('**/deps.edn') }}
      - name: Run Linters
        run: clojure -M:eastwood
      - name: Run Code Formatters
        run: clojure -X:fmt:fmtcheck
      - name: Run Tests
        run: clojure -T:build ci :snapshot false
      - name: Deploy Release
        run: clojure -T:build deploy :snapshot false
        env:
          CLOJARS_USERNAME: ${{secrets.CLOJARS_USERNAME}}
          CLOJARS_PASSWORD: ${{secrets.CLOJARS_PASSWORD}}
