name: Test

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        java: [ '11', '17', '20' ]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}
      - name: Setup Clojure
        uses: DeLaGuardo/setup-clojure@13.5
        with:
          cli: '1.12.4.1582'
      - name: Cache Clojure Deps
        uses: actions/cache@v5
        with:
          path: |
            ~/.clojure
            ~/.cpcache
            ~/.gitlibs
            ~/.m2/repository
          key: ${{ runner.os }}-${{ hashFiles('**/deps.edn') }}
      - name: Run Linters
        run: clojure -M:eastwood
      - name: Run Code Formatters
        run: clojure -X:fmt:fmtcheck
      - name: Run Tests with Code Coverage
        run: clojure -X:test:cloverage
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Build JAR
        run: clojure -T:build ci :snapshot true :test-disable true
      - name: Check cljdoc
        run: curl -fsSL https://raw.githubusercontent.com/cljdoc/cljdoc/master/script/verify-cljdoc-edn | bash -s doc/cljdoc.edn
